<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Minesweeper Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class="container">
    <img src="/img/snoopy.avif" style="width:230px;height:128px;">
    <h1>Welcome to Minesweeper</h1>
    <div>
        <!--    This link will direct you to the login page-->
        <a href="/user-login">
            <button>Login</button>
        </a>
    </div>
    <div>
        <a href="/register">
            <button>Register</button>
        </a>
    </div>
    <div>
        <a href="/game">
            <button>Play Game (Guest)</button>
        </a>
    </div>
</div>
</body>
</html>