<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Minesweeper Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        <img src="/img/smiley.png" alt="Smiley" class="emoji" style="width:64px;height:64px;margin-top:16px;">
        <h1>Minesweeper Login</h1>
        <div id="loginError" class="login-error" style="display:none;"></div>
        <form class="login-form">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <a class="register-link" th:href="@{/register}">Don't have an account? Register here!</a>
    </div>
<script src="/js/login.js"></script>
</body>
</html>